body {
    background: #e2e2e2;
}

.footer {
    max-width: 500px;
    margin: 0 auto;
    background: tomato;
    padding: 15px 0;
    text-align: center;
}

.footer p {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background: antiquewhite;
    margin-bottom: 32px;
}

.navbar a {
    padding: 5px 15px;
    color: cornflowerblue;
    text-decoration: none;
}

.navbar a:hover {
    color: darkslategrey;
}
